*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 90px;
}
.title{
    font-weight: bold;
    font-size: 30px;
    color: black;
}
.color{
    display: flex;
    
}
.box1{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    background-color: red;
    cursor: pointer;
}
.box2{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    background-color: aqua;
    cursor: pointer;
}
.box3{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    background-color:chartreuse;
    cursor: pointer;
}

.box4{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    background-color: violet;
    cursor: pointer;
}